#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------

CI_ENVIRONMENT = production


#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------

app.baseURL = 'http://127.0.0.1/gmi/gereja/'


#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

database.default.hostname = 127.0.0.1
database.default.database = gmi-member
database.default.username = gmi_user
database.default.password = vms766hi
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306


#--------------------------------------------------------------------
# ENCRYPTION
#--------------------------------------------------------------------

encryption.key = ciuhewichweicriwuevrehvh3598y34598yf234gvc35vg348ivc345gvc97354vg5497vg9754vg9537f43byhrvu35bvyg345g


#--------------------------------------------------------------------
# EMAIL
#--------------------------------------------------------------------
email.protocol = smtp
email.SMTPHost = smtp.gmail.com
email.SMTPPort = 465
email.SMTPUser = resdevgmiw1@gmail.com
email.SMTPPass = 'vsge kunw vzoe zmbq'
email.SMTPCrypto = ssl
email.mailType = html
